<html>
    <head>
        <title>Pias Django Girls Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Sedgwick+Ave" rel="stylesheet">
<style>
h1 a {
  color: #AB3232;
  font-family: 'Indie Flower';

}
body {
    padding-left: 15px;
    background: #E6E6E6;
}
h2 a {
  color: #AB3232;
  font-family: 'Indie Flower';
}
h3 a {
  color: #AB3232;
  font-family: 'Indie Flower';
}
p {
	font-family: 'Indie Flower';
}
img {
	border:solid 10px white;
}
</style>
    </head>
    <body>
        <div>
            <h1><a href="/">Mein erster Blog</a></h1>
        </div>

        <div>
            <p>published: 24.11.2018, 16:12</p>
            <h2><a href="">My first post</a></h2>
            <p>Hiii, it's me Pia. Ich sitze gerade in einem Programmierworkshop von djangogirls. Und lerne gerade coden. Ich bin berrascht, dass alles so gut klappt.</p>
        </div>

        <div>
            <p> </p>
            <h2><a href="">My second post</a></h2>
            <p>Falls ihr es wissen wollt, nach dem ganzen Tag ist mein Gehirn mittlerweile Matsche...</p>
        </div>
        <img src="http://media.einfachtierisch.de/thumbnail/600/0/media.einfachtierisch.de/images/2017/09/border-terrier-shutterstock-rebeccaashworth-140781934.jpg">
        <img src="https://www.hundeschule-leipzig.eu/s/cc_images/cache_2479322754.JPG">
    </body>
</html>


