<html>
    <head>
        <title>Pias Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mein erster Blog</a></h1>
        </div>

        <div>
            <p>published: 24.11.2018, 16:12</p>
            <h2><a href="">My first post</a></h2>
            <p>Moinsen. Hie ist Pia. Ich bin 14 Jahre alt und sitze gerade bei einem Programmier-Workshop.</p>
        </div>

        <div>
            <p> </p>
            <h2><a href="">My second post</a></h2>
            <p>Falls ihr es wissen wollt, nach dem ganzen Tag ist mein Gehirn mitkerweile Matsche...</p>
        </div>
    </body>
</html>
